@charset "UTF-8";
body, section, article, header, footer, figure, figcaption, h1, h2, h3, h4, ul { margin: 0; padding: 0; }

body { min-width: 1280px; font: normal normal normal 16px/24px "PingFang SC",STHeiti; }

ul { list-style-type: none; }

a { text-decoration: none; }

select::-ms-expand { display: none; }

#new-world { width: 1280px; margin: 0 auto; border-left: 1px solid #eee; border-right: 1px solid #eee; }

.header { margin: 0 auto; padding: 0 60px; width: 1160px; height: 57px; }
.header__logoContainer { float: left; width: 110px; height: 57px; }
.header__logoContainer a { display: block; width: 100%; height: 100%; font: 21px/57px STHeiti; color: #393a3a; position: relative; }
.header__logoContainer a img { margin: 0 10px -7px 0; }
.header__nav { float: right; font-size: 0; }
.header__nav .nav__item { box-sizing: border-box; display: inline-block; font: 14px/57px "Microsoft YaHei"; color: #787b83; width: 65px; height: 57px; margin-right: 20px; text-align: center; }
.header__nav .nav__item:hover { color: #e74f4d; border-bottom: 3px solid #e74f4d; }
.header__nav .nav__item--selected { color: #e74f4d; border-bottom: 3px solid #e74f4d; }
.header__loginContainer { float: right; margin-left: 20px; }
.header__loginContainer .login { display: block; font: 14px/57px "Microsoft YaHei"; color: #e74f4d; position: relative; }
.header__loginContainer .login::before { content: ""; display: block; width: 8px; height: 8px; border: 1px solid #e74f4d; border-radius: 50%; position: absolute; top: 20px; left: -18px; }
.header__loginContainer .login::after { content: ""; display: block; width: 12px; height: 6px; border-top: 1px solid #e74f4d; border-left: 1px solid #e74f4d; border-right: 1px solid #e74f4d; border-radius: 24px 24px 0 0; position: absolute; top: 30px; left: -20px; }

.banner { width: 100%; height: 690px; }
.banner__container { width: 1280px; height: 690px; margin: 0 auto; position: relative; }
.banner__container__img { position: absolute; width: 1280px; height: 690px; }
.banner__container__susbox { position: absolute; left: 110px; top: 50%; transform: translateY(-30%); color: white; }
.banner__container__susbox h4 { font-size: 60px; font-weight: normal; }
.banner__container__susbox p { width: 300px; font-size: 21px; line-height: 35px; margin: 35px 0 45px 10px; }
.banner__container__susbox a { display: block; width: 330px; height: 65px; margin-left: 10px; font-size: 30px; line-height: 63px; text-align: center; background: #e74f4d; color: white; }

.intro { width: 100%; height: 250px; }
.intro__item { width: 25%; height: 100%; float: left; }
.intro__item img { display: block; margin: 40px auto; }
.intro__item p { font: 14px/24px STHeiti; box-sizing: border-box; text-align: center; width: 100%; padding: 0 23%; }
.intro__item:not(:last-child) p { border-right: 2px solid #bbb; }
.intro::before, .intro::after { content: ""; display: table; clear: both; }

.about { width: 100%; height: 360px; background: #edecec; text-align: center; }
.about img { margin: 90px 0 50px 0; }
.about h4 { font: 54px STHeiti; color: #a1a1a1; }

.search { width: 100%; height: 340px; position: relative; }
.search__bgimg { position: absolute; }
.search__container { position: absolute; width: 100%; height: 100%; background: rgba(170, 52, 51, 0.2); text-align: center; color: white; }
.search__container--title { margin-top: 50px; font: 21px "Microsoft YaHei"; }
.search__container--smbd, .sintro__section--smbd, .joinUs__header--smbd { display: inline-block; width: 30px; border: 1px solid #fff; vertical-align: super; }
.search__container--desc { font: 12px "Microsoft YaHei"; }
.search__container .wrapper__input { display: inline-block; width: 235px; height: 35px; margin: 50px 10px; position: relative; }
.search__container .wrapper__input--select { appearance: none; -moz-appearance: none; -webkit-appearance: none; outline: none; width: 235px; height: 35px; padding: 0 30px 0 10px; border: 1px solid #e2d6cf; font-size: 12px; color: #a8aaaa; }
.search__container .wrapper__input--select option { background: #E3E3E4; }
.search__container .wrapper__input--select:focus { border: 1px solid #e74f4d; }
.search__container .wrapper__input::before { content: ""; display: block; width: 17px; height: 17px; background: #be4e48; position: absolute; right: 6px; top: 9px; }
.search__container .wrapper__input::after { content: ""; display: block; width: 8px; height: 8px; border-left: 1px solid #fff; border-bottom: 1px solid #fff; position: absolute; right: 10px; top: 10px; transform: rotate(-45deg); }
.search__container--isub { width: 235px; height: 35px; margin: 50px 10px; background: #be4e48; outline: none; border: none; font-size: 14px; word-spacing: 2em; color: white; }

.activity { width: 100%; background: #f7f7f7; font-size: 0; text-align: center; padding: 100px 0 110px 0; }
.activity__item { display: inline-block; font-size: 20px; margin: 0 20px; vertical-align: top; }
.activity__item--img { border: 1px solid #dadada; padding: 10px 6px; background: #fff; }
.activity__item--title { margin-top: 10px; font-size: 16px; font-weight: normal; }
.activity__item--desc { font-size: 12px; margin: 5px 0; color: #9f9f9f; }
.activity__item:nth-child(2) .activity__item--title { letter-spacing: 1.5em; font-size: 20px; text-align: right; }

.sintro { width: 100%; overflow: auto; }
.sintro__figure { float: left; width: 850px; height: 566px; position: relative; }
.sintro__figure figcaption { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white; }
.sintro__figure figcaption h1 { font-size: 50px; font-weight: normal; }
.sintro__figure figcaption h2 { font-size: 158px; margin: 80px 0; }
.sintro__figure figcaption p { font-size: 22px; }
.sintro__figure figcaption time { font-size: 22px; }
.sintro__section { float: left; width: 430px; height: 522px; text-align: center; }
.sintro__section--title { font-weight: normal; line-height: 35px; margin-top: 170px; }
.sintro__section--title span { color: #e74f4d; }
.sintro__section--info { width: 300px; margin: 20px auto; font: 12px/24px "PingFang SC"; text-align: start; color: #b0b0b0; }
.sintro__section--more { display: block; margin: 40px auto; width: 170px; height: 40px; border: 1px solid #fff; color: #fff; line-height: 40px; }
.sintro__section img { display: block; width: 430px; }
.sintro__section:nth-of-type(1) { height: 566px; position: relative; }
.sintro__section:nth-of-type(1)::before { content: ""; display: block; width: 0px; height: 0px; border-right: 25px solid #fff; border-top: 15px solid transparent; border-bottom: 15px solid transparent; position: absolute; top: 50%; left: -25px; margin-top: -15px; }
.sintro__section:nth-of-type(1) .sintro__section--title { margin-top: 150px; }
.sintro__section:nth-of-type(1) .sintro__section--more { color: #e74f4d; border: 1px solid #e74f4d; }
.sintro__section:nth-of-type(1) ul li { cursor: pointer; width: 10px; height: 10px; border-radius: 50%; border: 1px solid #b0b0b0; display: inline-block; margin: 0 10px; }
.sintro__section:nth-of-type(1) ul li:hover, .sintro__section:nth-of-type(1) ul li:first-child { background: #b0b0b0; }
.sintro__section:nth-of-type(2) { width: 425px; background: #e74f4d; color: #fff; }
.sintro__section:nth-of-type(3) { width: 425px; position: relative; color: #000; }
.sintro__section:nth-of-type(3) .sintro__section--smbd { border: 1px solid #000; }
.sintro__section:nth-of-type(3) .sintro__section--more { color: #e74f4d; border: 1px solid #e74f4d; }
.sintro__section:nth-of-type(3)::before { content: ""; display: block; width: 0px; height: 0px; border-left: 25px solid #fff; border-top: 15px solid transparent; border-bottom: 15px solid transparent; position: absolute; top: 50%; right: -25px; margin-top: -15px; }

.joinUs { padding: 110px 140px 160px; text-align: center; overflow: hidden; }
.joinUs__header { width: 430px; margin: 0 auto; }
.joinUs__header--title { font-size: 21px; }
.joinUs__header--smbd { border: 1px solid #E74F4D; }
.joinUs__header--desc { font-size: 12px; color: #aaa; }
.joinUs__protocol { float: left; margin-top: 100px; width: 290px; text-align: start; }
.joinUs__protocol article { margin-bottom: 30px; }
.joinUs__protocol--title { font-size: 14px; font-weight: normal; color: #666160; }
.joinUs__protocol--desc { font-size: 12px; line-height: 24px; margin: 10px 0 0 0; color: #9d9b9a; }
.joinUs__protocol--more { font-size: 12px; color: #9d9b9a; float: right; }
.joinUs__protocol--more::before { content: "◇"; margin-right: 5px; }
.joinUs__form { float: right; margin-top: 90px; width: 640px; text-align: justify; }
.joinUs__form--text { width: 270px; height: 40px; border: none; outline: none; background: #EDEDEF; padding: 0 20px; margin: 10px 0; }
.joinUs__form--textarea { box-sizing: border-box; width: 100%; height: 100px; resize: none; padding: 10px 20px; border: none; outline: none; background: #EDEDEF; margin: 10px 0; }
.joinUs__form--submit { width: 100%; height: 40px; outline: none; border: none; background: #EDEDEF; font-size: 14px; }

/*# sourceMappingURL=index.css.map */
